.user-msg-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100px;
}
.content {
  display: flex;
  list-style-type: none;
  margin-left: 0px;
  align-items: center;
}

.initial-user {
  border-radius: 35px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: bold;
  font-size: 14px;
  margin-left: 0px;
  margin-bottom: 0px;
  color: white;
}
.pink {
  background-color: #870e56;
}
.yellow {
  background-color: #a3ad17;
}
.red {
  background-color: #9e1c0b;
}
.blue {
  background-color: #072e8f;
}
.green {
  background-color: #096b0a;
}
.user-name {
  margin-left: 10px;
}
.time {
  margin-left: 20px;
  color: slategray;
  font-size: 14px;
  font-weight: 500;
}
.msg-content {
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 50px;
  margin-top: 0px;
  max-width: 700px;
  margin-right: 10px;
}
.message {
  margin: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
}
.msg-like-container {
  display: flex;
  align-items: center;
  height: 50px;
}
.like-icon {
  color: #24a0ed;
  width: 20px;
  height: 20px;
  margin-left: 0px;
}
.like-btn {
  border: none;
  background-color: transparent;
}
.like-count {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 15px;
  margin-left: 4px;
}
